SUPABASE_URL=https://vrkjvikwqwbvpplcrxun.supabase.co

SUPABASE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZya2p2aWt3cXdidnBwbGNyeHVuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjU2MTQ0NSwiZXhwIjoyMDkyMTM3NDQ1fQ.fpLUN650XF03KOIenXJ6unuk_XrHJAdcTcqXOeqRSa0
VITE_SUPABASE_URL=https://vrkjvikwqwbvpplcrxun.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xUdwdhoEhwava-eU8yy4LQ_wZPTCC4_